{varType Fykosak\Utils\UI\Navigation\NavItem $item}
{varType Fykosak\Utils\Localization\GettextTranslator $translator}
{block content}
    {if count($item->children)}
        {var $id = $item->title->id??Nette\Utils\Random::generate()}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#" id="{$id}"
               role="button" data-toggle="dropdown" aria-expanded="false"
               data-bs-toggle="dropdown">
                {if $item->title instanceof Fykosak\Utils\UI\LocalizedTitle}
                    {$translator->getVariant($item->title->toHtml(false))}
                {else}
                    {$item->title->toHtml(false)}
                {/if}
            </a>
            <ul class="dropdown-menu" aria-labelledby="{$id}">
                {foreach $item->children as $children}
                    {varType Fykosak\Utils\UI\Navigation\NavItem $children}
                    <li>
                        <a class="{$children->active?'dropdown-item active':'dropdown-item'}"
                           href="{plink $children->destination,(expand)$children->linkParams}">
                            {if $children->title instanceof Fykosak\Utils\UI\LocalizedTitle}
                                {$translator->getVariant($children->title->toHtml(false))}
                            {else}
                                {$children->title->toHtml(false)}
                            {/if}
                        </a>
                    </li>
                {/foreach}
            </ul>
        </li>
    {else}
        <li class="nav-item">
            <a class="nav-link" href="{plink $item->destination,(expand)$item->linkParams}">
                {if $item->title instanceof Fykosak\Utils\UI\LocalizedTitle}
                    {$translator->getVariant($item->title->toHtml(false))}
                {else}
                    {$item->title->toHtml(false)}
                {/if}
            </a>
        </li>
    {/if}
{/block}
